{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, initial-scale=1">
        <link rel="stylesheet" href={% static 'css/global.css' %}>

        <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
        <script src={% static "js/jquery-1.11.3.min.js" %}></script>
        <script src={% static "js/jquery.fileDownload.js" %}></script>
        <script src={% static "js/bootstrap.min.js" %}></script>

        <title>Gente - App</title>
    </head>
    <body>
      <div class="logout-btn">
        <a href="/logout/" class="button">Logout</a>
      </div>
<<<<<<< HEAD
        <div class="wrap">
            <div class="mobile">
                <div class="mobile-head">
                    <div></div>
                </div>
                <div class="mobile-body">
                    <div class="head">
                        <div class="back">
                            <a href="">
                                <span class="glyphicon glyphicon-arrow-left"></span>
                            </a>
                        </div>
                    </div>
                    <div class="history" id="history">
                        <div id="show-message"></div>
                        <div id="btm"></div>
                    </div>
                    <div class="control">
                        <form class="" onsubmit="return sendMessage()">
                            <input type="text"
                                    name="name"
                                    placeholder="Type Message..."

                                    id="message"
                                    autocomplete="off"
                                    autofocus="on">
                            <button type="submit" name="button">
                                <span class="glyphicon glyphicon-send"></span>
                            </button>
                        </form>
=======
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="wrap">
                <div class="mobile">
                    <div class="mobile-head">
                        <div></div>
                    </div>
                    <div class="mobile-body">
                        <div class="head">
                            <div class="back">
                                <a href="">
                                    <span class="glyphicon glyphicon-arrow-left"></span>
                                </a>
                            </div>
                        </div>
                        <div class="history" id="history">
                            <div id="show-message"></div>
                            <div id="btm"></div>
                        </div>
                        <div class="control">
                            <form class="" onsubmit="return sendMessage()">
                                <input type="text"
                                        name="name"
                                        placeholder="Type Message..."

                                        id="message"
                                        autocomplete="off"
                                        autofocus="on">
                                <button type="submit" name="button">
                                    <span class="glyphicon glyphicon-send"></span>
                                </button>
                            </form>
>>>>>>> 1007726ecf901239e929907a61f3b5c0ae1bcb12

                        </div>
                    </div>
                    <div class="mobile-footer">
                        <div></div>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="gente-player">
              <div class="row">
                <div class="col-md-2">
                  <label for="play-toggle">
                    <input type="checkbox" name="gente-player-play-btn-toggle" id="play-toggle">
                    <svg xmlns="http://www.w3.org/2000/svg" class="play-btn" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-3 17v-10l9 5.146-9 4.854z"/></svg>
                    <svg class="pause-btn" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h48v48H0z" fill="none"/><path d="M24 4C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4zm-2 28h-4V16h4v16zm8 0h-4V16h4v16z"/></svg>
                  </label>
                </div>
                <div class="col-md-8">
                  <div class="song-name">Song Name</div>
                  <div class="singer-name">Singer name</div>
                </div>
                <div class="col-md-2">
                  <button id="download-it">
                    <svg class="download-btn" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"><path d="M832 320c-8.75 0-17.125 1.406-25.625 2.562C757.625 208.25 644.125 128 512 128c-132.156 0-245.562 80.25-294.406 194.562C209.156 321.406 200.781 320 192 320 85.938 320 0 405.938 0 512s85.938 192 192 192c20.531 0 39.875-4.25 58.375-10.375C284.469 731.375 331.312 756.75 384 764.5v-65.25c-49.844-10.375-91.594-42.812-112.625-87.875C249.531 629 222.219 640 192 640c-70.656 0-128-57.375-128-128 0-70.656 57.344-128 128-128 25.281 0 48.625 7.562 68.406 20.094C281.344 283.78099999999995 385.594 192 512 192c126.5 0 229.75 92.219 250.5 212.75 20-13 43.875-20.75 69.5-20.75 70.625 0 128 57.344 128 128 0 70.625-57.375 128-128 128-10.25 0-20-1.5-29.625-3.75C773.438 677.125 725.938 704 672 704c-11.062 0-21.625-1.625-32-4v64.938c10.438 1.688 21.062 3.062 32 3.062 61.188 0 116.5-24.625 156.938-64.438C830 703.625 830.875 704 832 704c106.062 0 192-85.938 192-192S938.062 320 832 320zM576 512H448v320H320l192 192 192-192H576V512z"/></svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



    <script type="text/javascript">

    $('<audio id="CHATAudio"><source src="{% static "js/notify.mp3" %}" type="audio/mpeg"></audio>').appendTo('body');
    $('<audio id="CHATAudio1"><source src="{% static "js/send.mp3" %}" type="audio/mpeg"></audio>').appendTo('body');
    var $div2 = $('<div>');
    $div2.attr('id', 'bottom');
            var CHAT = function(){
                this.response_msg = '';
                this.time = new Date();
                this.user_msg;

            }

            CHAT.prototype.sendAjax = function (a, b) {
                var p = $('#history'),
                re = new RegExp('^#song');
                if (re.test(a.value)) {
                  client.CHATUI( b, 'left' , "Let me check if I can find your requested song..." );
                }

                ajaxResponse(a.value,b,p);
                a.value = '';
            };

            CHAT.prototype.CHATUI = function (elm, cls, um) {

                // initialize Div
                var msgDiv = document.createElement('div'),
                    clear = document.createElement('div'),
                    chunk = document.createElement('div'),
                    m = document.createElement('span'),
                    t = document.createElement('span'),
                    a,b;

                this.time.getHours() >= 12 ? a = 'PM' : a = 'AM';
                this.time.getMinutes() < 10 ? b = '0'+ this.time.getMinutes() : b = this.time.getMinutes();

                // innerHTML
                m.innerHTML = um;
                t.innerHTML = '&nbsp;&nbsp;'+this.time.getHours() + ':' + b + '&nbsp;' + a;


                // setAttribute
                msgDiv.setAttribute('class', cls);
                chunk.setAttribute('class', 'chunk'+cls );
                m.setAttribute('class', 'msg');
                t.setAttribute('class', 'time');
                clear.setAttribute('style', 'clear:both');

                // appendChild
                chunk.appendChild(m);
                chunk.appendChild(t);
                msgDiv.appendChild(chunk);
                elm.appendChild(msgDiv);
                elm.appendChild(clear);
            };

            var ajaxResponse = function(m,b,p){
              var $download = $('#play-song');
              var $downloadIt = $('#download-it');
              $.ajax({
                    url: "/ai/send-message/",
                    type: "POST", // http method
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        message: m
                    },
                    success: function(data){
                      data = JSON.parse(data);
                      if(data.type == 'file') {
                        $downloadIt.attr('onclick', 'downloadSong("' + data.message + '")');
                        playSong(data.message);
                        client.CHATUI( b, 'left' , "Amazing, I found your song. You can play and download it!<br>:)" );
                      } else {
                        client.CHATUI( b, 'left' , data.message );
                      }
                      $('#CHATAudio')[0].play();
                      p.animate(
                          { scrollTop: 1000000 },
                          'slow'
                      );
                    },
                });
            }

            function downloadSong(src) {
              $.fileDownload(src);
            }
            var PLAY = false;
            $("#play-toggle").click(function() {
                console.log(PLAY);
                if(!PLAY) {
                  audio.play();
                } else {
                  audio.pause();
                }
                PLAY != PLAY;
                console.log(PLAY);
            });

            var audio;
            function playSong(src) {
              audio = new Audio(src);
              console.log(audio.duration);
              console.log(audio.currentTime);
            }

            var client = new CHAT();
            function sendMessage(){
                var m = document.getElementById('message'),
                    h = document.getElementById('show-message'),
                    p = $('#history'),
                    b = $('#btm');
                if( m.value == '' ) { return false; }
                $('#CHATAudio1')[0].play();
                client.CHATUI(h, 'right', m.value );
                p.animate(
                    { scrollTop: 1000000 },
                    'slow'
                );
                client.sendAjax( m, h );

                return false;
            }
    </script>
    </body>
</html>
